* {
  padding: 0;
  margin: 0;
}
.publish-div {
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 1px solid rgb(218, 220, 224);
  padding-left: 10px;
  padding-right: 10px;
}

.main-body {
  background-color: antiquewhite;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 24px;
}

.form-box-head {
  background-color: #fff;
  width: 100%;
  height: 150px;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 15px;
}

.form-head-inputs {
  padding: 24px;
}

.form-head-top {
  background-color: rgb(103, 58, 183);
  height: 10px;
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.form-head-left {
  background-color: #4285f4;
  height: 142px;
  width: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 8px;
}

.form-box-list {
  width: 36%;
}

.form-box-item {
  background-color: #fff;
  width: 100%;
  /* height: 200px; */
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 15px;
}
.form-box-item-line-1 {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.form-box-item-line-2 {
  padding: 10px;
}
.form-box-item-line-3 {
  padding: 10px;
  border-top: 1px solid rgb(218, 220, 224);
  display: flex;
  justify-content: end;
}

.add-option-div {
  display: flex;
  align-items: center;
}

.option-div {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.options-menu {
  background-color: #fff;
  width: 12%;
  height: auto;
  /* border: 1px solid rgb(218, 220, 224); */
  /* border-radius: 8px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1); */
  /* margin-bottom: 15px; */
  position: relative;
  left: 800px;
  bottom: 100px;
}
